@font-face{
  font-family: comical;
  src: url('../fonts/animeace2_reg.ttf');
}

body {
  font-family: comical;
  border: 20px solid #fcd2d8;
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

#header {
  font-size: 68px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: normal;
}

#msg {
  font-style: italic;
  font-size: 36px;
  color: #f12469;
  margin-top: 50px;
  padding-bottom: 30px;
}

#button {
  border-radius: 30px;
  height: 40px;
  width: 335px; 
  background-color: #f12469;
  font-size: 20px;
  color: #ffffff;
  margin:0 auto;
  padding-top: 15px;
  margin-bottom: 50px;
}